*{
    margin: 0;
    top: 0;
}
#Main_Container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Grid{
    width: 400px;
    height: 400px;
    background-color: grey;
    position: relative;
}
.Snake_Parts{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: black;
    
}
#Ball{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
}